# Created by .ignore support plugin (hsz.mobi)
### wrg template
# Created by .ignore support plugin (hsz.mobi)
### xiaowang template template
HELP.md
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
netty-client/
netty-server/
pom.xml
